.DS_Store
*~
*.pyc
*.d
*.eep
*.elf
*.lss
*.map
*.o
*.so
*.dylib
_*.py
*.swp
*.log
*.zip
*.tar
*.fig
*.eps
*.pdf

.exrc
ROS_NOBUILD
*.hex
.build_version

build
bin
lib

msg_gen
srv_gen

cpp
java
lisp
oct

data
